@import "ui-variables";

&.hydra-flash {
  background: rgba(255, 255, 255, 0.5) !important;
}

&.evalFlash {
  background: rgba(255, 255, 255, 0.8) !important;
}

.hydra,
.hydra canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
}

body.hydra-enabled {
    &,
    atom-workspace,
    .header *,
    .footer *,
    atom-workspace-axis,
    atom-workspace-axis
        :not(.cursor):not(autocomplete-suggestion-list):not(atom-overlay):not(span):not(.region),
    atom-workspace *:before,
    atom-workspace *:after {
        background: transparent;
        border: none !important;
        text-shadow: 0 1px 1px black;
        box-shadow: none !important;
     }

    .line > span {
       background: rgba(0, 0, 0, 1);
    }

    .cursor {
        border-color: solid #0ff !important;
    }
    autocomplete-suggestion-list,
    atom-overlay {
        background: rgba(0, 0, 0, 0.9) !important;
    }
    .region {
        background: rgba(0, 255, 255, 0.4) !important;
        z-index: 9 !important;
    }
    .selected:before {
        background: #0005 !important;
        border-left: 8px #8888 solid !important;
    }
    li.texteditor.tab{
      background: rgba(0, 0, 0, 0.0)!important;
    }
 }

atom-text-editor.editor .line {
  transition:  background-color .8s ease-out;
  -webkit-transition: background-color .8s ease-out;
  background-color: rgba(0, 0, 0, 0.6);

  &.line-error {
    background-color: fadeout(@background-color-error, 95%);
    border: 1px solid fadeout(@background-color-error, 50%);
  }

  &.line-highlight {
    background-color: @background-color-highlight;
  }

  &.eval-success {
    color: @text-color-success;
    background-color: fadeout(@background-color-success, 50%);
  }

  &.eval-error,
  &.eval-syntax-error {
    color: @text-color-error;
    background-color: @background-color-error;
  }
}

.elegante {
  background-color: #f00;
  font-family: fantasy;
}
