[core]
  editor = vim
  excludesfile = ~/.gitignore

[user]
  email = hektor.misplon@pm.me
  name = Hektor Misplon
  username = hektormisplon

[alias]
  d = diff
  ds = diff --stat
  dc = diff --cached
  a = add
  ap = add -p
  cm = commit -m
  cam = commit -a -m
  l = log --pretty=format:"(%an)\\ \\ %h\\ \\ %ad\\ \\ %s" --date=short
  s = status -s
  co = checkout
  cob = checkout -b
  alias = "!git config -l | grep alias | cut -c 7-"

[color]
  ui = auto

[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[credential]
  helper = cache --timeout=3600
[init]
  defaultBranch = main

[log]
  date = relative
  abbrevCommit = true
