# global gitignore
# ______________________________

# general
.idea/
log/
*.log

# node
npm-debug.log
node_modules

# python
*.pyc

# folder view
.DS_Store
Desktop.ini

# thumbnail cache
Thumbs.db

# temp files
*.swp
*.swo
*~
