[core]
  editor = vim
  excludesfile = ~/.gitignore

[user]
  email = hektor.misplon@pm.me
  name = Hektor Misplon
  username = hektormisplon

[alias]
  d = diff
  dc = diff --cached
  a = add
  cm = commit -m
  l = log --pretty=format:"(%an)\\ \\ %h\\ \\ %ad\\ \\ %s" --date=short
  s = status -s
  co = checkout
  cob = checkout -b
  alias = "!git config -l | grep alias | cut -c 7-"
  rs = "restore --staged"

[color]
  ui = auto

[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[color "branch"]
  current = normal bold
  local = normal
  remote = normal italic

[color "status"]
  added = green
  changed = yellow
  untracked = normal italic

[credential]
  helper = cache --timeout=3600

[init]
  defaultBranch = main

[log]
  date = relative
  abbrevCommit = true

[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
