$include /etc/inputrc

set editing-mode vi
set keymap vi
set show-mode-in-prompt on
set vi-ins-mode-string "\1\e[1;32m\2■ \1\e[0m\2"
set vi-cmd-mode-string "\1\e[1;31m\2■ \1\e[0m\2"
set show-all-if-ambiguous on
set visible-stats on
set mark-symlinked-directories on
set colored-completion-prefix on
set completion-display-width 0

$if mode=vi
  set keyseq-timeout 200
  set keymap vi-command
  "\e[A": history-search-backward
  "\e[B": history-search-forward
  j: history-search-forward
  k: history-search-backward
  set keymap vi-insert
  "jj": vi-movement-mode
  "\e[A": history-search-backward
  "\e[B": history-search-forward
  "\C-l": clear-screen
$endif
