init-autor-name=Hektor Misplon
init-autor-email=hektor.misplon@gmail.com
init-license=MIT
username=hektormisplon
email=hektor.misplon@pm.me
save-exact=true
init.author.name=hektor.misplon@pm.me
//registry.npmjs.org/:_authToken=$NPM_CONFIG_TOKEN
