.background {
  color: #ccc;
  background-color: #111;
}

.view,
iconview,
.view text,
iconview text,
textview text {
  color: #ccc;
  background-color: #111;
}

.view:selected,
iconview:selected,
.view:selected:focus,
iconview:selected:focus,
.view text:selected,
iconview text:selected,
textview text:selected,
.view text:selected:focus,
iconview text:selected:focus,
textview text:selected:focus {
  background-color: #333;
}

label.separator,
popover label.separator,
popover.background label.separator {
  color: #ccc;
}

label:disabled {
  color: #555;
}

label selection {
  color: #fff;
}

headerbar {
  background: #111;
}

entry {
  border: 1px solid red;
}

toolbar {
  background: #111;
  color: #ccc;
}

.top {
  background: #111;
  color: #ccc;
}

menu {
  background: #111;
  color: #ccc;
}

/* inactive tabs*/
window.background.chromium menubar,
window.background.chromium {
  background-color: #111;
  color: #ccc;
}

window.background.chromium textview.view {
  background-color: transparent;
}
