snippet clg "console.log"
console.log($0)
endsnippet

snippet Js "JSON.stringify"
JSON.stringify($0)
endsnippet

snippet Jsf "JSON.stringify (formatted)"
JSON.stringify($0, 0, 2)
endsnippet

snippet preJsf "JSON.stringify (formatted and wrapped)"
<pre>
  JSON.stringify($0, 0, 2)
</pre>
endsnippet
