extends html, javascript, css

snippet oM
onMount(() => $0)
endsnippet

snippet oD
onDestroy(() => $0)
endsnippet

snippet preJsf "JSON.stringify (formatted and wrapped)"
<pre>
JSON.stringify($0, 0, 2)
</pre>
endsnippet
